In [1]:
import pandas as pd

In [2]:
my_data = {
    'cars': ['XC90', 'Mustang'],
    'types': ['SUV', 'Sedan']
}

In [3]:
cars_df = pd.DataFrame(my_data)

In [6]:
cars_df.to_csv('cars.csv', index=False)

In [8]:
cars_df
# manually add one entry in csv after this

      cars  types
0     XC90    SUV
1  Mustang  Sedan

In [32]:
cars_df_from_file = pd.read_csv('cars.csv')

In [22]:
cars_df_from_file

         cars      types
0        XC90        SUV
1     Mustang      Sedan
2  MiniCooper  HatchBack
3      Innova        MUV
4       Swift      Sedan
5      XEV 9E        SUV

In [23]:
cars_df_from_file['cars']

0          XC90
1       Mustang
2    MiniCooper
3        Innova
4         Swift
5        XEV 9E
Name: cars, dtype: object

In [24]:
cars_df_from_file['types']

0          SUV
1        Sedan
2    HatchBack
3          MUV
4        Sedan
5          SUV
Name: types, dtype: object

In [25]:
cars_df_from_file['types'][0]

'SUV'

In [26]:
cars_df_from_file[cars_df_from_file['types'] != 'SUV']

         cars      types
1     Mustang      Sedan
2  MiniCooper  HatchBack
3      Innova        MUV
4       Swift      Sedan

In [27]:
cars_df_from_file[cars_df_from_file['types'] == 'SUV']

     cars types
0    XC90   SUV
5  XEV 9E   SUV

In [31]:
cars_df_from_file.iloc[0]

cars     XC90
types     SUV
Name: 0, dtype: object

In [33]:
cars_df_from_file = pd.read_csv('cars.csv', index_col='types')

In [34]:
cars_df_from_file.loc['SUV']

         cars
types
SUV      XC90
SUV    XEV 9E