In [1]:
# Define URL
DB_URL =  "postgresql+psycopg2://testuser:mysecretpw@20.244.107.52:5432/testdb"

In [2]:
# create engine
from sqlalchemy import create_engine
engine = create_engine(url=DB_URL, echo=True)

In [3]:
# Create Base
from sqlalchemy.orm import mapped_column, Mapped, DeclarativeBase

class Base(DeclarativeBase): pass

In [4]:
# Define Models
from sqlalchemy import String, Integer, DateTime, ForeignKey
class Student(Base):
    __tablename__ = "students"

    id: Mapped[int] = mapped_column(primary_key=True, autoincrement=True)
    name: Mapped[str] = mapped_column(String(100), nullable=False)
    mobile: Mapped[str] = mapped_column(String(10), nullable=False)
    email: Mapped[str] = mapped_column(String(100), nullable=False)
    description: Mapped[str] = mapped_column(String(100), nullable=True)

In [5]:
class Faculty(Base):
    __tablename__ = "faculties"

    id: Mapped[int] = mapped_column(primary_key=True, autoincrement=True)
    name: Mapped[str] = mapped_column(String(100), nullable=False)
    mobile: Mapped[str] = mapped_column(String(10), nullable=False)
    email: Mapped[str] = mapped_column(String(100), nullable=False)
    description: Mapped[str] = mapped_column(String(100), nullable=True)

In [6]:
# create tables if they do not exist
Base.metadata.create_all(bind=engine)

2025-10-23 10:00:46,165 INFO sqlalchemy.engine.Engine select pg_catalog.version()
2025-10-23 10:00:46,167 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-10-23 10:00:46,207 INFO sqlalchemy.engine.Engine select current_schema()
2025-10-23 10:00:46,210 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-10-23 10:00:46,252 INFO sqlalchemy.engine.Engine show standard_conforming_strings
2025-10-23 10:00:46,253 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-10-23 10:00:46,293 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-10-23 10:00:46,310 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relname = %(table_name)s AND pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s, %(param_3)s, %(param_4)s, %(param_5)s]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != %(nspname_1)s
2025-10-23 10:00:46,314 INFO sqlalchemy.engine.Engine [generated in 0.00408s] {'table_name': 'students', 'param_1': 'r', 'param_2': 'p', 'param_3': 'f', 'param_4': 'v', 'param_5': 'm', 'nspname_1': 'pg_catalog'}
2025-10-23 10:00:46,361 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relname = %(table_name)s AND pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s, %(param_3)s, %(param_4)s, %(param_5)s]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != %(nspname_1)s
2025-10-23 10:00:46,365 INFO sqlalchemy.engine.Engine [cached since 0.05543s ago] {'table_name': 'faculties', 'param_1': 'r', 'param_2': 'p', 'param_3': 'f', 'param_4': 'v', 'param_5': 'm', 'nspname_1': 'pg_catalog'}
2025-10-23 10:00:46,390 INFO sqlalchemy.engine.Engine
CREATE TABLE students (
	id SERIAL NOT NULL,
	name VARCHAR(100) NOT NULL,
	mobile VARCHAR(10) NOT NULL,
	email VARCHAR(100) NOT NULL,
	description VARCHAR(100),
	PRIMARY KEY (id)
)


2025-10-23 10:00:46,391 INFO sqlalchemy.engine.Engine [no key 0.00064s] {}
2025-10-23 10:00:46,447 INFO sqlalchemy.engine.Engine
CREATE TABLE faculties (
	id SERIAL NOT NULL,
	name VARCHAR(100) NOT NULL,
	mobile VARCHAR(10) NOT NULL,
	email VARCHAR(100) NOT NULL,
	description VARCHAR(100),
	PRIMARY KEY (id)
)


2025-10-23 10:00:46,450 INFO sqlalchemy.engine.Engine [no key 0.00275s] {}
2025-10-23 10:00:46,477 INFO sqlalchemy.engine.Engine COMMIT

In [7]:
from sqlalchemy.orm import Session

with Session(engine) as session:
    student1 = Student(name='std1', mobile='9999999', email='std1@gmail.com')
    session.add(student1)
    student2 = Student(name='std2', mobile='9999999', email='std2@gmail.com')
    session.add(student2)

    session.commit()

2025-10-23 10:02:04,891 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-10-23 10:02:04,898 INFO sqlalchemy.engine.Engine INSERT INTO students (name, mobile, email, description) SELECT p0::VARCHAR, p1::VARCHAR, p2::VARCHAR, p3::VARCHAR FROM (VALUES (%(name__0)s, %(mobile__0)s, %(email__0)s, %(description__0)s, 0), (%(name__1)s, %(mobile__1)s, %(email__1)s, %(description__1)s, 1)) AS imp_sen(p0, p1, p2, p3, sen_counter) ORDER BY sen_counter RETURNING students.id, students.id AS id__1
2025-10-23 10:02:04,899 INFO sqlalchemy.engine.Engine [generated in 0.00021s (insertmanyvalues) 1/1 (ordered)] {'description__0': None, 'mobile__0': '9999999', 'name__0': 'std1', 'email__0': 'std1@gmail.com', 'description__1': None, 'mobile__1': '9999999', 'name__1': 'std2', 'email__1': 'std2@gmail.com'}
2025-10-23 10:02:04,975 INFO sqlalchemy.engine.Engine COMMIT

In [ ]:
# Get all students
from sqlalchemy import select
with Session(engine) as session:
    # Get all
    students = session.scalars(select(Student)).all()
    for student in students:
        print(student.name)

    # filter
    stmt = select(Student).where(Student.name == "std2")
    student = session.scalar(stmt)
    print(student.email)

2025-10-23 09:34:14,818 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-10-23 09:34:14,828 INFO sqlalchemy.engine.Engine SELECT students.id, students.name, students.mobile, students.email, students.description
FROM students
2025-10-23 09:34:14,829 INFO sqlalchemy.engine.Engine [cached since 126.8s ago] ()
std1
std2
2025-10-23 09:34:18,923 INFO sqlalchemy.engine.Engine SELECT students.id, students.name, students.mobile, students.email, students.description
FROM students
WHERE students.name = ?
2025-10-23 09:34:18,929 INFO sqlalchemy.engine.Engine [cached since 28.22s ago] ('std2',)
std2@gmail.com
2025-10-23 09:34:31,769 INFO sqlalchemy.engine.Engine ROLLBACK