In [1]:
# Define URL
DB_URL = "mysql+pymysql://testuser:testpass@20.244.107.52:3306/testdb"

In [2]:
# create engine
from sqlalchemy import create_engine
engine = create_engine(url=DB_URL, echo=True)

In [3]:
# Create Base
from sqlalchemy.orm import mapped_column, Mapped, DeclarativeBase

class Base(DeclarativeBase): pass

In [4]:
# Define Models
from sqlalchemy import String, Integer, DateTime, ForeignKey
class Student(Base):
    __tablename__ = "students"

    id: Mapped[int] = mapped_column(primary_key=True, autoincrement=True)
    name: Mapped[str] = mapped_column(String(100), nullable=False)
    mobile: Mapped[str] = mapped_column(String(10), nullable=False)
    email: Mapped[str] = mapped_column(String(100), nullable=False)
    description: Mapped[str] = mapped_column(String(100), nullable=True)

In [5]:
class Faculty(Base):
    __tablename__ = "faculties"

    id: Mapped[int] = mapped_column(primary_key=True, autoincrement=True)
    name: Mapped[str] = mapped_column(String(100), nullable=False)
    mobile: Mapped[str] = mapped_column(String(10), nullable=False)
    email: Mapped[str] = mapped_column(String(100), nullable=False)
    description: Mapped[str] = mapped_column(String(100), nullable=True)

In [6]:
# create tables if they do not exist
Base.metadata.create_all(bind=engine)

2025-10-23 09:54:07,991 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2025-10-23 09:54:07,994 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-10-23 09:54:08,033 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2025-10-23 09:54:08,035 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-10-23 09:54:08,055 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2025-10-23 09:54:08,056 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-10-23 09:54:08,092 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-10-23 09:54:08,095 INFO sqlalchemy.engine.Engine DESCRIBE `testdb`.`students`
2025-10-23 09:54:08,098 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-10-23 09:54:08,123 INFO sqlalchemy.engine.Engine DESCRIBE `testdb`.`faculties`
2025-10-23 09:54:08,124 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-10-23 09:54:08,145 INFO sqlalchemy.engine.Engine
CREATE TABLE students (
	id INTEGER NOT NULL AUTO_INCREMENT,
	name VARCHAR(100) NOT NULL,
	mobile VARCHAR(10) NOT NULL,
	email VARCHAR(100) NOT NULL,
	description VARCHAR(100),
	PRIMARY KEY (id)
)


2025-10-23 09:54:08,148 INFO sqlalchemy.engine.Engine [no key 0.00318s] {}
2025-10-23 09:54:08,253 INFO sqlalchemy.engine.Engine
CREATE TABLE faculties (
	id INTEGER NOT NULL AUTO_INCREMENT,
	name VARCHAR(100) NOT NULL,
	mobile VARCHAR(10) NOT NULL,
	email VARCHAR(100) NOT NULL,
	description VARCHAR(100),
	PRIMARY KEY (id)
)


2025-10-23 09:54:08,255 INFO sqlalchemy.engine.Engine [no key 0.00169s] {}
2025-10-23 09:54:08,320 INFO sqlalchemy.engine.Engine COMMIT

In [7]:
from sqlalchemy.orm import Session

with Session(engine) as session:
    student1 = Student(name='std1', mobile='9999999', email='std1@gmail.com')
    session.add(student1)
    student2 = Student(name='std2', mobile='9999999', email='std2@gmail.com')
    session.add(student2)

    session.commit()

2025-10-23 09:57:04,898 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-10-23 09:57:04,905 INFO sqlalchemy.engine.Engine INSERT INTO students (name, mobile, email, description) VALUES (%(name)s, %(mobile)s, %(email)s, %(description)s)
2025-10-23 09:57:04,909 INFO sqlalchemy.engine.Engine [generated in 0.00382s] {'name': 'std1', 'mobile': '9999999', 'email': 'std1@gmail.com', 'description': None}
2025-10-23 09:57:04,937 INFO sqlalchemy.engine.Engine INSERT INTO students (name, mobile, email, description) VALUES (%(name)s, %(mobile)s, %(email)s, %(description)s)
2025-10-23 09:57:04,938 INFO sqlalchemy.engine.Engine [cached since 0.03325s ago] {'name': 'std2', 'mobile': '9999999', 'email': 'std2@gmail.com', 'description': None}
2025-10-23 09:57:04,964 INFO sqlalchemy.engine.Engine COMMIT

In [ ]:
# Get all students
from sqlalchemy import select
with Session(engine) as session:
    # Get all
    students = session.scalars(select(Student)).all()
    for student in students:
        print(student.name)

    # filter
    stmt = select(Student).where(Student.name == "std2")
    student = session.scalar(stmt)
    print(student.email)

2025-10-23 09:34:14,818 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-10-23 09:34:14,828 INFO sqlalchemy.engine.Engine SELECT students.id, students.name, students.mobile, students.email, students.description
FROM students
2025-10-23 09:34:14,829 INFO sqlalchemy.engine.Engine [cached since 126.8s ago] ()
std1
std2
2025-10-23 09:34:18,923 INFO sqlalchemy.engine.Engine SELECT students.id, students.name, students.mobile, students.email, students.description
FROM students
WHERE students.name = ?
2025-10-23 09:34:18,929 INFO sqlalchemy.engine.Engine [cached since 28.22s ago] ('std2',)
std2@gmail.com
2025-10-23 09:34:31,769 INFO sqlalchemy.engine.Engine ROLLBACK